body {
    font-family: Raleway;
    padding: 0 80px 10px 80px;
    box-sizing: border-box;
}
a:active,
a:hover,
a:link,
a:visited {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #07439c;
}

.main:hover {
    filter: drop-shadow(0 0 30px #333);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.main > h1 {
    color: #0f4b9c;
}
.heading {
    color: #a81010;
}
.cell {
    border-radius: 8px;
    padding: 6px;
    box-sizing: border-box;
}
.cell#notblank:hover {
    box-shadow: 0 2px 17px -1px #707070;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    transform: scale(1.08);
}
.cell > h1 {
    color: #0f4b9c;
}
.cell > p > img {
    border-radius: 8px;
}
