body{
    font-family: Raleway;
}

.container{
    background-color: #E3E3E3;
    padding: 20px;
}

li{
    list-style: none; 
} 
 
.blog-list-item{ 
    padding: 15px 10px;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 10px;
    display: flex;
    gap: 10px
}

.title{
    flex-basis: 50% ;
}

.action-container{
    display: flex;
    gap: 10px;
    justify-content: end;
    flex-grow: 1;
}

.action-button {
    background-color: #E3E3E3;
}

.save-button{
    margin-bottom: 30px;
}


.editor{
    height: 200px;
    background-color: azure;
    margin-bottom: 10px;
    display: none;
    overflow: scroll;
    white-space: pre-wrap;
}

.editor-visible{
  display: block !important;   
}


/**ADD MODAL**/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  #language{
    width: 15%;
    height: 40px;
    font-size: 1rem;
    text-indent: 10px;
    margin-bottom: 40px;
  }

  .label{
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
 
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .add-editor{
    height: 500px;
    padding: 10px;
  }
  
  .add-new-blog-button{
    background-color: #063e5a;
    color: white;
  }
  
  .add-button{
    background-color: #063e5a;
    color: white;
    margin-top: 20px;
    font-size: larger;
  }
  
  .add-button-container{
    display: flex;
    justify-content: end;
  }
  
  .add-editor{
    border: 1px solid #063e5a;
  }
  
  .upload-button{
    color: #063e5a;
    margin-bottom: 40px;
  }
  
  [contenteditable] {
    outline: 0px solid transparent;
    overflow-y: auto;
    max-height: 400px;
  }
  
  /**EDIT MODAL**/
  
  .edit-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  
  .edit-modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .edit-editor{
    border: 1px solid #063e5a;
    overflow-y: scroll;
    white-space: pre-wrap;
    height: 83%;
    padding: 5px;
    margin-top: 40px;
  }
  
  .edit-editor li{
    list-style: unset;
  }
  
  .edit-button{
    background-color: #063e5a;
    color: white;
    margin: 15px 0 15px 0; 
    font-size: larger;
  }
  
  .edit-button-container{
    display: flex;
    justify-content: end;
  }
  
  .header-button-container{
    display: flex;
    gap: 20px;
  }
  
  .image-preview{
    max-width: 200px;
    margin-bottom: 20px;
  }
  
  .editor-buttons-group{
    display: flex;
  }
  
  .editor-button{
    background-color: white;
    border: 1px solid #063e5a;
    height: 50px;
    width: 50px;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .editor-button img{
    height: 50%;
  }
  
  
  /** DELETE MODAL **/
  .delete-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  .delete-modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
  }
  
  .confirmation-text-container{
    margin-top: 40px;
  }
  
  .delete-input{
    width: 98%;
    height: 40px;
    font-size: 1rem;
    text-indent: 10px;
  }
  
  .confirm-text{
    margin-bottom: 20px;
  }
  
  .delete-title{
    margin-bottom: 40px;
  }
  
  #deleteTitle{
    font-weight: 600;
  }
  
  .delete-button{
    background-color: #063e5a;
    color: white;
    margin: 40px 0 15px 0; 
    font-size: larger;
    background-color: #dc3545;
  }
  
  .delete-button-container{
    display: flex;
    justify-content: end;
  }
  
  
  button{
    border-radius: 50px;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
}