{{{styleBody}}}


<div class="container" id="container">
    <div class="header-button-container">
        <button class="add-new-blog-button" onclick="monkshu_env.components['blog-list'].openAddEditor(this)">ADD NEW BLOG</button>
        <div id="modal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="monkshu_env.components['blog-list'].closeEditor(this)">&times;</span>
                <div class="label">Langauge:</div>
                <select id="language">
                    <option value="en">English</option>
                    <option value="ja">Japanese</option>
                    <option value="hi">Hindi</option>
                </select>
                <div class="label">Upload Image:</div>
                <input type="file" id="imageUpload" class="upload-button" accept="image/*">
                <div class="image-instruct-container">
                    <span class="image-instruct">Recommended Size: 1920x350</span>
                    <br>
                    <span class="image-instruct">Recommended Format: SVG or PNG</span>
                </div>
                <div class="label">Blog Title:</div>
                <input type="text" name="title" id="blogTitle"/>
                <div class="label">Blog Content:</div>
                <div class="editor-buttons-group">
                    <button class="editor-button bold" onclick="monkshu_env.components['blog-list'].performAction(this)">
                        <img src="./img/editor/type-bold.svg">
                    </button>
                    <button class="editor-button italic" onclick="monkshu_env.components['blog-list'].performAction(this)">
                        <img src="./img/editor/type-italic.svg">
                    </button>
                    <button class="editor-button underline" onclick="monkshu_env.components['blog-list'].performAction(this)">
                        <img src="./img/editor/type-underline.svg">
                    </button>
                    <button class="editor-button list-order" onclick="monkshu_env.components['blog-list'].performAction(this)">
                        <img src="./img/editor/list-ol.svg">
                    </button>
                    <button class="editor-button list-unorder" onclick="monkshu_env.components['blog-list'].performAction(this)">
                        <img src="./img/editor/list-ul.svg">
                    </button>
                    <button class="editor-button text-left" onclick="monkshu_env.components['blog-list'].performAction(this)">
                        <img src="./img/editor/text-left.svg">
                    </button>
                    <button class="editor-button text-center" onclick="monkshu_env.components['blog-list'].performAction(this)">
                        <img src="./img/editor/text-center.svg">
                    </button>
                    <button class="editor-button text-right" onclick="monkshu_env.components['blog-list'].performAction(this)">
                        <img src="./img/editor/text-right.svg">
                    </button>
                    <button class="editor-button link" onclick="monkshu_env.components['blog-list'].performAction(this)">
                        <img src="./img/editor/link.svg">
                    </button>
                </div>
                <div id="add-editor" class="add-editor" contenteditable="true" placeholder="Your blog post here..."></div>
                <div class="add-button-container">
                <button class="add-button" onclick="monkshu_env.components['blog-list'].addNewBlog(this)">ADD</button>
              </div>
            </div>
        </div>
        <button class="add-new-blog-button" onclick="monkshu_env.components['blog-list'].logout()">Logout</button>
    </div>
    <ul>
        {{#file}}
        <li>
           <div class="blog-list-item">
                <div class="title">
                    {{title}}
                </div>
                <div class="details-container">
                    <div>
                        {{lastModified}}
                        <div>Last Modified</div>
                    </div>
                </div>
                <div class="action-container">
                    <button class="action-button">Publish</button>
                    <button class="action-button" onclick="monkshu_env.components['blog-list'].editBlog(this, '{{id}}')">Edit</button>
                    <div id="edit-modal" class="edit-modal">
                        <div class="edit-modal-content editor-{{id}}">
                          <span class="close" onclick="monkshu_env.components['blog-list'].closeEditor(this)">&times;</span>
                          <div class="label">Langauge:</div>
                           <select id="language">
                                <option value="en" {{#en}}selected{{/en}}>English</option>
                                <option value="ja" {{#ja}}selected{{/ja}}>Japanese</option>
                                <option value="hi" {{#hi}}selected{{/hi}}>Hindi</option>
                            </select>
                            <div class="label">Upload Image:</div>
                            <img id="image" class="image-preview" src="" alt="Blog Image"/>
                            <!-- {{#image}}
                                <img id="image" class="image-preview" src="{{image.path}}" alt="Blog Image"/>
                            {{/image}}
                            {{^image}}
                                <div class="noimage-text">Image not available</div>
                            {{/image}} -->
                            <br/>
                            <input type="file" id="imageUpload" class="upload-button" accept="image/*">
                            <div class="image-instruct-container">
                                <span class="image-instruct">Recommended Size: 1920x350</span>
                                <br>
                                <span class="image-instruct">Recommended Format: SVG or PNG</span>
                            </div>
                            <div class="label">Blog Title:</div>
                            <input type="text" name="title" id="blogTitle"/>
                            <div class="editor-buttons-group">
                                <button class="editor-button bold" onclick="monkshu_env.components['blog-list'].performAction(this)">
                                    <img src="./img/editor/type-bold.svg">
                                </button>
                                <button class="editor-button italic" onclick="monkshu_env.components['blog-list'].performAction(this)">
                                    <img src="./img/editor/type-italic.svg">
                                </button>
                                <button class="editor-button underline" onclick="monkshu_env.components['blog-list'].performAction(this)">
                                    <img src="./img/editor/type-underline.svg">
                                </button>
                                <button class="editor-button list-order" onclick="monkshu_env.components['blog-list'].performAction(this)">
                                    <img src="./img/editor/list-ol.svg">
                                </button>
                                <button class="editor-button list-unorder" onclick="monkshu_env.components['blog-list'].performAction(this)">
                                    <img src="./img/editor/list-ul.svg">
                                </button>
                                <button class="editor-button text-left" onclick="monkshu_env.components['blog-list'].performAction(this)">
                                    <img src="./img/editor/text-left.svg">
                                </button>
                                <button class="editor-button text-center" onclick="monkshu_env.components['blog-list'].performAction(this)">
                                    <img src="./img/editor/text-center.svg">
                                </button>
                                <button class="editor-button text-right" onclick="monkshu_env.components['blog-list'].performAction(this)">
                                    <img src="./img/editor/text-right.svg">
                                </button>
                                <button class="editor-button link" onclick="monkshu_env.components['blog-list'].performAction(this)">
                                    <img src="./img/editor/link.svg">
                                </button>
                            </div>
                          <div class="edit-editor" contenteditable="true">{{{content}}}</div>
                          <div class="edit-button-container">
                            <button class="edit-button" onclick="monkshu_env.components['blog-list'].saveEditedBlog(this, '{{title}}')">EDIT</button>
                          </div>
                        </div>
                    </div>
                    <button class="action-button" onclick="monkshu_env.components['blog-list'].confirmDelete(this, '{{id}}')">Delete</button>
                    <div id="delete-modal" class="delete-modal">
                        <div class="delete-modal-content">
                            <span class="close" onclick="monkshu_env.components['blog-list'].closeEditor(this)">&times;</span>
                            <div class="confirmation-text-container">
                                <div class="confirm-text">
                                    Are you sure you want to delete this blog post?
                                </div>
                                <div class="delete-title">
                                    Blog Title: <span id="deleteTitle"></span>
                                </div>
                                Type <strong>"DELETE"</strong> to confirm:
                                <br><br>
                                <input type="text" id="confirmDelete" class="delete-input">
                                <div class="delete-button-container">
                                    <button class="delete-button" onclick="monkshu_env.components['blog-list'].deleteBlog(this, '{{path}}')">DELETE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
           </div>
           <div class="editor editor-{{id}}">
                <div  contenteditable="true">
                    {{{content}}}
                </div>
                <button class="save-button" onclick="monkshu_env.components['blog-list'].saveEditedBlog(this, '{{title}}')">
                    Save
                </button>
           </div>
        </li>
        {{/file}}
    </ul>
</div>

