{{{styleBody}}}


<div class="container">
    <div>
        <button class="add-new-blog-button" onclick="monkshu_env.components['blog-list'].openAddEditor(this)">ADD NEW BLOG</button>
        <div id="modal" class="modal">
            <div class="modal-content">
              <span class="close" onclick="monkshu_env.components['blog-list'].closeEditor(this)">&times;</span>
              <div class="add-editor" contenteditable="true">Your blog post here</div>
              <div class="add-button-container">
                <button class="add-button" onclick="monkshu_env.components['blog-list'].addNewBlog(this)">ADD</button>
              </div>
            </div>
          </div>
    </div>
    <ul>
        {{#file}}
        <li>
           <div class="blog-list-item">
                <div class="title">
                    {{title}}
                </div>
                <div class="details-container">
                    <div>
                        {{lastModified}}
                        <div>Last Modified</div>
                    </div>
                </div>
                <div class="action-container">
                    <button class="action-button">Push</button>
                    <button class="action-button" onclick="monkshu_env.components['blog-list'].editBlog(this, '{{id}}')">Edit</button>
                    <button class="action-button">Delete</button>
                </div>
           </div>
           <div class="editor editor-{{id}}">
                <div  contenteditable="true">
                    {{{content}}}
                </div>
                <button class="save-button" onclick="monkshu_env.components['blog-list'].saveEditedBlog(this, '{{title}}')">
                    Save
                </button>
           </div>
        </li>
        {{/file}}
    </ul>
</div>

