.how-title {
    font-size: 16px; 
    font-weight: 800; 
    color: #07439c;
}

.how-description {
    color: black; 
    height: 6em;
}

.text-bold {
    font-weight: 700;
}

.text-title {
    color: white;
    font-size: 24px !important;
    line-height: 1.6;
    text-align: left;
    width: 350px;
}

.mt-5 {
    margin-top: 20px;
}

.text-orange {
    color: #F3712C;
}

.text-black {
    color: black;
}

.text-white {
    color: white;
}

.p-0 {
    padding: 0;
}

h1 {
    line-height: 1.2em;
}

img[title=api400] {
    position: absolute;
    bottom: 0;
}

/* a{
    color: white !important;
    font-size: 18px;
    border: white solid 1px;
    border-radius: 15px;
    padding: 10px;
    
} */

.api400-schedule-button{
    display: inline-block;
    color: white !important;
    font-size: 24px;
    border: white solid 1px;
    border-radius: 15px;
    padding: 10px;
}

.arrow-container{
   display: inline-flex;
   margin-left: 5px;
}

.api400-text{
    font-size: 18px !important;
    margin-bottom: 20px;
}

.api400-h1{
    font-weight: 700 !important;
}

table{
    min-height: 100%;
}

.carousel{
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-content{
    margin-left: 5px;
}

.api400-chevron-icon{
    color: white;
}

@media (min-width: 768px) and (max-width: 1024px) {
  
    img {
        height: 15vh;
    }

    .how-description {
        padding-bottom: 60px;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 1.5em;
    }
   
}

@media (min-width: 481px) and (max-width: 767px) {
  
    table {
        border-spacing: 70px 0;
    } 
    
    td {
        display: block;
        width: 80vw !important;
        text-align: left !important;
        height: auto;
        padding: 0 0 50px;
    } 

     td img {
        float: left;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        margin-top: 0;
        margin-right: 15px !important;
        width: auto;
        height: 70px;
    }

    td p{
        margin-left: 90px;
        height: auto;
    }
    
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 17px;
        padding-bottom: 40px;
    }

    br {
        display: none;
    }

    .how-description {
        height: auto;
    }
    
}

@media (min-width: 320px) and (max-width: 480px) {

    table {
        border-spacing: 40px 0;
    } 
    
    td {
        display: block;
        width: 80vw !important;
        text-align: left !important;
        height: auto;
        padding: 0 0 50px;
    } 

     td img {
        float: left;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        margin-top: 0;
        margin-right: 15px !important;
        width: auto;
        height: 70px;
    }

    td p{
        margin-left: 90px;
        height: auto;
    }
    
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 17px;
        padding-bottom: 40px;
    }

    br {
        display: none;
    }

    .how-description {
        height: auto;
    }
}


.api400-section4{
    background: url(./articles/products/api400.md/how.md/api400-blue-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    min-height: 480px;
    height: 100%;
    background-color: #205570;
 }