h1 {
    font-size: 3em;
    color: #0f4b9c;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    font-style: normal;
    background: #efefef;
    margin: 0 -300% 50px;
    padding: 50px 30px;
}

.text-black{
    color: black !important;
    font-weight: 700;
}

td {
    text-align: left !important;
    width: 50%;
}

/* td:nth-child(1) {
   display: flex;
   justify-content: center;
} */

td h2:nth-of-type(odd) {
    color: #a81010;
}
td h2:nth-of-type(even) {
    color: #07439c !important;
}
h2.productheader {
    font-size: 17px;
    font-weight: 700;
    text-align: left;
    padding-top: 20px !important;
    padding-bottom: 5px !important;
}
p.productdescription {
    font-size: 15px !important;
    color: grey;
    line-height: 1.6;
    text-align: left;
    width: 350px;
}

.api400-text-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 40px;
}


p.api400-h1{
    font-size: 84px;
    color: black;
    line-height: 0.90em;
    font-weight: 700;
}

p.api400-h2{
    font-size: 48px;
    color: #F3712C;
    line-height: 0.90em;
    font-weight: 700;
}

p.api400-h3{
    font-size: 48px;
    color: #231F20;
    line-height: 0.90em;
    font-weight: 700;
}

p.api400-text {
    font-size: 18px !important;
    color: black;
    line-height: 1.6;
    text-align: left;
    width: 350px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Chakra Petch;
}

img {
    width: auto !important;
}

.arrow-container{
   display: inline-flex;
   margin-left: 5px;
}

@media (min-width: 1025px){
    td {
        height: 300px;
    }
}

@media (min-width: 961px) and (max-width: 1024px) {

    h1 {
        font-size: 40px;
    }

    td {
        display: block;
    }

    table {
        padding: 0 20px;
    }

    td {
        display: block;
    }

    .productdescription {
        display: none;
    }

    .productheader {
        text-align: center !important;

    }

   
}

@media (max-width: 960px) {
    
    body {
        padding-top: 0 !important;
    }
    
    h1 {
        font-size: 30px;
        margin: 0 0 50px;
    }

    h2 {
        font-size: 30px;
    }
    
    table {
        padding: 0;
    }

    td {
        display: block;
        width: 100%;
    }

    img {
        height: auto;
        width: 100% !important;
    }

    .productdescription {
        display: none;
    }

    .productheader {
        text-align: center !important;

    }
    
  }
