h2 {
    padding: 0 40px;
}

table {
    width:100%; 
    border-spacing: 100px 20px;
} 

h1{
    font-size: 3em; 
    padding-bottom: 20px;
    font-weight:bold; 
    color: #07439c
} 

h2{
    font-size: 2em; 
    padding: 20px 40px;
    color: black;
    font-weight:normal;
}