h1{
    color: #F3712C;
    font-size: 76px;
    font-weight: 700;
}

h2{
    font-weight: 700;
    font-size: 50px;
}



.api400-section3{
    background: url(./articles/products/api400.md/section2.md/api400-blue-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 410px;
    padding: 20px;
    position: relative;
 }


 body{
    height: 100%;
 }

 img{
    position: absolute;
    left: 200px;
    bottom: 0;
 }